body {
	
	background-color: black;
	color: white;
	text-align: center;
	}
	
#root {
	display: inline-block;
	}

#bEnco {
	
    border: 3px solid #dbcd3b;
    padding: 10px;
    margin: auto;
    text-align: center;
	}


#bDeco {
	
	border: 3px solid #dbcd3b;
    padding: 10px;
    margin: auto;
    text-align: center;
	}