body {
	background-color: black;
	color: white;
	text-align: center;
	}

header {
	background-image: url(https://malalanahistoria.wordpress.com/2013/08/25/museo-nacional-de-arte-romano-de-merida-una-reflexion-personal/);

}	
	
#root {
	display: inline-block;
	}

#bEnco {
	
    border: 3px solid #dbcd3b;
    padding: 10px;
    margin: auto;
    text-align: center;
	}


#bDeco {
	
	border: 3px solid #dbcd3b;
    padding: 10px;
    margin: auto;
    text-align: center;
	}